<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Home</title>

  <link rel="stylesheet" href="css/styles.css">
</head>

<body>


  <!-- <%    if(kindOfDay === "Saturday"){ %>
  <h1 style = "color:purple"> <%= kindOfDay %></h1>
<%    }else{     %>
  <h1 style = "color:blue"> <%= kindOfDay %></h1>
<%    } %> -->

  <h1 class="box" id="heading"> <%= kindOfDay %></h1>

  <div class="box">
    <ul>
      <!-- <li>first</li>
    <li>section</li> -->

      <%  for(var i=0; i<newItem.length; i++){  %>
      <div class="item">
        <input type="checkbox" >
        <p> <%= newItem[i] %></p>
      </div>
      <%  }  %>
    </ul>

    <form class="item" action="/" method="post">
      <input type="text" name="item" placeholder="item" autocomplete="off">
      <button type="submit" name="submit">+</button>
    </form>

  </div>





</body>

</html>
